
.rightAlign{
  text-align: right;
}
.table{
	display:table;
	max-width: 100%;
	table-layout: fixed;
	width: 100%;
    
	border: 1px solid #ccc;
}
.row{
	display: table-row;
}
.colgroup{
  display: table-caption;
  padding: 10px;
  border: 1px solid #ccc;
}
.row:nth-child(2n){
  background-color: #f0f0f0;
}
.cell{
	display: table-cell;
	max-width: 200px;
}
.cell > span{
	display: inline-block;
	max-width: 85%;
	overflow: hidden;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 5px;
	line-height: 1.5em;
	box-sizing: border-box;
}
.cell span.searchdiv{
  display: block;
  text-align: right;
}
.cell span.sortdiv{
  padding:0;
  right: 0;
}
.cell span *{
  max-width:70%;
}
.header.row{
  background-color: #888;
  color: #fff;
  text-align:center;
}
.header .cell{
  outline: 1px solid #777;
}

