<div class="loading" ng-show="!local.gridReady">
    <div class="spinner">
        <div class="cube1"></div>
        <div class="cube2"></div>
    </div>
</div>
<div id="agrid" ng-show="local.gridReady">
    <div class="topHeader" id="gridHead">
        <div ng-show="uiGrid.enableRowSelection">
            <dropdown style="width: 200px;" dropdown-placeholder="{{local.columnData.length}} Selected">
                <div search search-model='local.searchText' placeholder='Find Column'></div>
                <div multi-select ng-model="local.origColumnData" displayTest="name" checkvalue="active" search-model="local.searchText"></div>
            </dropdown>
        </div>
        <div pager class="rightAlign">
            <div ng-show="uiGrid.enablemaxRowSelection">
                <label>Rows per page: <input ng-model="local.maxRow" ng-blur="paging()" max="local.gridData.length"></label>
            </div>
            <div ng-show="local.maxRow">
                <span>{{local.currPage}} of {{local.noOfPages}}</span>
                <button ng-disabled="local.currPage == 1" ng-click="local.currPage = local.currPage - 1"><i class="fa fa-arrow-left"></i>
                </button>
                <button ng-disabled="local.currPage == noOfPages" ng-click="local.currPage = local.currPage + 1"><i class="fa fa-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="row header" id="rowHead">
        <div ng-repeat="item in local.columnData| filter : {active: true} : true" class="cell">
            <span title="{{item.name}}">{{item.name}}</span>
            <span ng-show="item.sortable" class="sortdiv">
                <i class="fa fa-sort-down" ng-show="item.dir == 'desc'" ng-click = "setSort('','')"></i>
                <i class="fa fa-sort-up" ng-show="item.dir == 'asc'" ng-click="setSort(item.name,'desc')"></i>
                <i class="fa fa-unsorted" ng-show="!item.dir" ng-click = "setSort(item.name,'asc')"></i>
            </span>
            <span ng-show="item.searcheable" class="searchdiv">
                <span class="inputspan">
                    <input type="text" ng-model="item.searchval">
                    <i class="fa fa-close" ng-click="item.searchval = ''"></i>
                </span>
            <i class="fa fa-search" ng-click="search = !search"></i>
            </span>
        </div>
    </div>
    <ul class="tbody" id="tablerow">
        <li ng-repeat="obj in local.gridData|startFrom:(local.currPage-1)*local.pageSize|limitTo:local.pageSize" class="row">
            <div ng-repeat="item in local.columnData" class="cell"><span>{{obj[item.name]}}</span>
            </div>
        </li>
    </ul>
</div>
